#links {
    list-style-type: none;
    display: inline-block;
    background-color: lightgreen;
    margin: 0;
    padding: 0;
}

#links li {
    display: inline;
}

nav {
    /* position: fixed; */
    width: 100%;
    background-color: cornflowerblue;
    align-items: center;
   display: flex;
   justify-content: space-between;
}